In [1]:
cd ../..

/home/xavier/projects/godatathon_2020

In [2]:
import numpy as np
import pandas as pd

# Settings

In [3]:
DATA_RAW_PATH = "data/raw"
FEATURES_PATH = "data/features"

VOLUME_FILE = "gx_volume.csv"

BASIC_FEATURES_FILE = "basic_features.csv"
MAX_AVG_FILE = "max_avg.csv"
MONTH_ENCODED_FILE = "months_encoded.csv"


# GENERICS_FILE = "gx_num_generics.csv"
# PACKAGE_FILE = "gx_package.csv"
# CHANNELS_FILE = "gx_panel.csv"
# THERAPEUTIC_FILE = "gx_therapeutic_area.csv"

OUTPUT_PATH = "data/features/final_features.csv"

# Retrieve data

In [4]:
volume = pd.read_csv(f"{DATA_RAW_PATH}/{VOLUME_FILE}", index_col=0)
volume.head(2)

     country    brand      volume  month_num month_name
1  country_1  brand_3  18509088.6        -88        Jul
2  country_1  brand_3  19697508.0        -87        Aug

In [5]:
basic_features = pd.read_csv(f"{FEATURES_PATH}/{BASIC_FEATURES_FILE}")
basic_features.head(2)

,country,brand,country_id,brand_id,num_generics,package_id,channel_rate_A,channel_rate_B,channel_rate_C,channel_rate_D,therapeutic_id,last_month_sin,last_month_cos
0,country_1,brand_3,0,222,3,6,0.0,1.189704,0.0,98.810296,2,-0.866025,0.5
1,country_1,brand_4,0,333,1,6,0.0,0.090229,0.0,99.909771,2,-0.866025,0.5

In [6]:
max_avg_features = pd.read_csv(f"{FEATURES_PATH}/{MAX_AVG_FILE}")
max_avg_features.head(2)

     country    brand  avg_12_volume   max_volume
0  country_1  brand_3    12395405.55  19831199.40
1  country_1  brand_4     6732181.82   8773075.36

In [7]:
month_encoded_features = pd.read_csv(f"{FEATURES_PATH}/{MONTH_ENCODED_FILE}")
month_encoded_features.head(2)

     country     brand  month_num month_name  month_sin    month_coss
0  country_1  brand_10        -47        Jul  -0.866025 -5.000000e-01
1  country_1  brand_10        -46        Aug  -1.000000 -1.836970e-16

# Create dataset

### Basic Features

In [8]:
id_cols = ["country", "brand"]

In [9]:
dataset = volume.merge(basic_features, on=id_cols, how="left")

### Max/Avg

In [10]:
dataset = dataset.merge(max_avg_features, on=id_cols, how="left")

In [11]:
# Add normalized volume
dataset["volume_norm"] = dataset["volume"] / dataset["max_volume"]

### Month Encoded

In [12]:
id_cols = ["country", "brand", "month_num"]

In [13]:
month_encoded_features = month_encoded_features.drop(columns="month_name")

In [14]:
dataset = dataset.merge(month_encoded_features, on=id_cols, how="left")

# Save dataset

In [16]:
dataset.to_csv(OUTPUT_PATH, index=False)