In [1]:
cd ..

/home/xavier/projects/godatathon_2020

In [2]:
import datetime
import numpy as np
import pandas as pd

# Settings

In [3]:
DATA_RAW_PATH = "data/raw"
VOLUME_FILE = "gx_volume.csv"
OUTPUT_PATH = "data/features/dataset_max_avg.cvs"

# Retrieve data

In [4]:
volume = pd.read_csv(f"{DATA_RAW_PATH}/{VOLUME_FILE}", index_col=0)
volume.head(2)

     country    brand      volume  month_num month_name
1  country_1  brand_3  18509088.6        -88        Jul
2  country_1  brand_3  19697508.0        -87        Aug

# Max/Avg

In [5]:
id_cols = ["country", "brand"]

### Average Last 12 Months
Necessary for computing the loss

In [6]:
avg_12_volume = volume[
    (volume.month_num >= -12) & (volume.month_num < 0)
].groupby(id_cols)["volume"].mean().reset_index()

avg_12_volume = avg_12_volume.rename(columns={"volume": "avg_12_volume"})

In [7]:
# Add avg_12_volume to dataset
volume = volume.merge(avg_12_volume, on=id_cols, how="left")

### Max

In [8]:
g = volume.groupby(id_cols)

In [9]:
max_volume = g["volume"].max().reset_index().rename(columns={"volume": "max_volume"})

In [10]:
# Add max volume by country/brand
volume = volume.merge(max_volume, on=id_cols)

### Cleaning

In [11]:
# Select only used data
volume = volume[["country", "brand", "avg_12_volume", "max_volume"]]

In [12]:
# Drop duplicates
volume = volume.drop_duplicates()

# Save dataset

In [13]:
volume.to_csv(OUTPUT_PATH, index=False)