In [1]:
import pandas as pd

# Settings

In [17]:
DATA_RAW_PATH = "../data/raw"
GENERICS_FILE = "gx_num_generics.csv"
PACKAGE_FILE = "gx_package.csv"
PANEL_FILE = "gx_panel.csv"
AREA_FILE = "gx_therapeutic_area.csv"
VOLUME_FILE = "gx_volume.csv"

# Functions

In [3]:
def read_file(path, file):
    return pd.read_csv(f"{path}/{file}", index_col=0)

# Retrieve data

## Volume (target variable)

In [18]:
volume = read_file(DATA_RAW_PATH, VOLUME_FILE)
print(len(volume))
volume.head()

94954

     country    brand      volume  month_num month_name
1  country_1  brand_3  18509088.6        -88        Jul
2  country_1  brand_3  19697508.0        -87        Aug
3  country_1  brand_3  18315721.8        -86        Sep
4  country_1  brand_3  19831199.4        -85        Oct
5  country_1  brand_3  18593281.8        -84        Nov

## Number of competitors per brand and country

In [9]:
generics = read_file(DATA_RAW_PATH, GENERICS_FILE)
print(len(generics))
generics.head()

1078

     country     brand  num_generics
1  country_1   brand_3             3
2  country_1   brand_4             1
3  country_1  brand_10             6
4  country_1  brand_14             1
5  country_1  brand_18             1

## Type of drug (pill, cream...)

In [10]:
package = read_file(DATA_RAW_PATH, PACKAGE_FILE)
print(len(package))
package.head()

1078

     country     brand presentation
1  country_1   brand_3         PILL
2  country_1   brand_4         PILL
3  country_1  brand_10         PILL
4  country_1  brand_14         PILL
5  country_1  brand_18        CREAM

## How the drug is distribbutes in different distribution channels

In [13]:
panel = read_file(DATA_RAW_PATH, PANEL_FILE)
print(len(panel))
panel.head()

2371

     country     brand channel  channel_rate
1  country_1   brand_3       B      1.189704
2  country_1   brand_3       D     98.810296
3  country_1   brand_4       B      0.090229
4  country_1   brand_4       D     99.909771
5  country_1  brand_10       B      1.015697

## Drug's therapeucic area of effect

In [16]:
area = read_file(DATA_RAW_PATH, AREA_FILE)
print(len(area))
area.head()

484

     brand                     therapeutic_area
1  brand_1                       Nervous_system
2  brand_2  Respiratory_and_Immuno_inflammatory
3  brand_3             Cardiovascular_Metabolic
4  brand_4             Cardiovascular_Metabolic
5  brand_5             Cardiovascular_Metabolic